* {
	box-sizing: border-box;	
}
body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: #2f3542;
}
.wrapper {
	max-width: 70rem;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid #a4b0be;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
}
button {
	display: inline-block;
	margin-right: 2rem;
	font-size: 1.2rem;
	font-weight: 500;
	width: 10rem;
	height: 2.5rem;
	outline: 0;
	border: 1px solid #a4b0be;
	border-radius: 1.15rem;
	background-color: #ced6e0;
	cursor: pointer;
	position: relative;
	color: #2f3542;
	transition: all 0.3s;	
}

button:hover {
	background-color: #2f3542;
	color: white;
}

.container {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item {
	width: 23%;
	padding: 1rem;
	border: 1px solid #ced6e0;
	margin-bottom: 2rem;
	box-sizing: border-box;
	border-radius: 0.5rem;
}

.img-wrap {
	height: 200px;
	overflow: hidden;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;	

}

.img-wrap img {
	width: 100%;

}

.item-title {
	display: block;
	min-height: 3rem;
}

button.add {
	font-size: 1rem;
	width: 7rem;
	height: 2rem;
	background-color: transparent;
}



button:hover {
	background-color: #2f3542;
	color: white;
}
